body {
  background-color: #0d0d0d;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

.app {
  padding: 40px;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
  color: #1db954; /* green */
}

.btn-box {
  margin-bottom: 20px;
}

.btn {
  background-color: #1db954;
  color: black;
  padding: 10px 18px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 12px;
  border-radius: 5px;
  transition: 0.2s;
}

.btn:hover {
  background-color: #17a84a;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #1a1a1a;
  border: 1px solid #333;
}

.table th,
.table td {
  padding: 14px;
  border: 1px solid #333;
  text-align: left;
}

.table th {
  background-color: #111;
  color: #1db954;
}

.table tr:hover {
  background-color: #262626;
}
